body {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

p, h1, h2, h3, h4, h5 {
	font-family: OpenSans, "Trebuchet MS";
}

h1, h2, h3, h4, h5 {
	text-align: center;
	margin-bottom: 32px;
}

h2 {
	text-decoration: underline;
	font-size: 1.8em;
	margin-bottom: 48px;
}

h3 {
	font-size: 1.3em;
	margin-top: 48px;
}


p a, #diversSection li a {
	color: #500080;
	text-decoration: none;
}

#mainSection ul, #diversSection ul {
	margin: 8px 16px;
	margin-bottom: 16px;
	padding-left: 32px;
	display: inline-block;
	vertical-align: top;
}

#mainSection li, #diversSection li {
	list-style-type: none;
	padding-left: 48px;
	margin: 8px;
	font-size: 1.2em;
	font-family: OpenSans, "Trebuchet MS";
}

#mainHeader {
	height: 128px;	

	/*gradient : */
	background-color: #1e5799;
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,
	rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', 
	endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

#mainHeader p {	
	position: relative;
	top: -156px;
	text-align: center;
	font-family: AlexBrush;
	font-size: 3.6em;
	
	/*-webkit-animation: display 5s 0s forwards; 
	-moz-animation: display 5s 0s forwards; 
	-ms-animation: display 5s 0s forwards; 
	-o-animation: display 5s 0s forwards; 
	animation: display 5s 0s forwards;*/
}

#logoHead {
	margin: 14px 22px;
}

#mainHeader nav li a, #mainFooter p a{
	color: #000;
	text-decoration: none;
}

#mainHeader nav li a:hover, p a:hover {
	text-decoration: none;
}

#mainHeader nav li {
	display: inline-block;
	width: 104px;
	text-align: center;
	font-family: OpenSans, "Trebuchet MS";
	font-size: 18px;
	margin: 0;
	padding: 8px 2px;
}

#mainHeader nav ul {
	display: inline-block;
	margin: 0 16px;
	position: absolute;
	top: 0;
	right: 0;
}

#mainAside {
	display: inline-block;
	vertical-align: top;
}

#networks, #asideClock {
	font-family: Foglihten, "Trebuchet MS";
	font-size: 26px;
	color: #147;
	width: 208px;
	margin-top: 48px;
	margin-left: 16px;
	margin-bottom: 32px;
}

#mainAside p {
	font-size: 20px;
	margin: 8px;
	padding: 0;
}

#clock {
	color: #404040;
	font-weight: bold;
}

#mainAside section:last-of-type {
	margin-bottom: 96px;
}

#networks p {
	font-size: 25px;
	margin: 12px 4px;
}

#linksNetworks {
	margin: 0px;
	padding-left: 32px;
}

#networks li {
	list-style-type: none;
}

#networks li a {
	color: #004;
	text-decoration: none;
}

#networks li a:hover {
	text-decoration: underline;
}

#wrap {
	height: auto;
	min-height: 100%;
}

#main {
	margin-bottom: 96px;
	display: block;
}

#mainSection, #lesiteSection, #diversSection {
    margin: 48px;
  	margin-bottonm: 96px;
  	
	display: inline-block;
    vertical-align: top;
}

#lesiteSection, #diversSection {
	display: block;
	margin: 64px;
}

#lesiteSection p {
	font-size: 1.2em;
	text-align: center;
}

#logoArrowUp, #logoArrowDown {
	margin: 0;
	padding: 0;
}

#logoArrowDown, # {
	position: fixed;
	bottom: 96px;
	right: 16px;
}

#logoArrowUp, # {
	position: fixed;
	top: 128px;
	right: 16px;
}

#mainFooter {
	position: relative;
	clear: both;
	margin-top: -96px;
	height: 96px;
	
	/*gradient : */
	background-color: #1e5799;
	background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(30,87,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,185,232,0)), 
	color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,
	rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', 
	endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

#mainFooter p {
	margin: 0 16px;
	position: relative;
	bottom: 8px;
	text-align: right;
}

#logoFoot {
	position: relative;
	top: 24px;
	left: 24px;
}

/*animation*/
/*@-webkit-keyframes display { from { opacity: 0; } to { opacity: 100%; } }
@-moz-keyframes display { from { opacity: 0; } to { opacity: 100%; } }
@-ms-keyframes display { from { opacity: 0; } to { opacity: 100%; } }
@-o-keyframes display { from { opacity: 0; } to { opacity: 100%; } }
@keyframes display { from { opacity: 0; } to { opacity: 100%; } }*/

/*fonts loading*/
@font-face {
    	font-family: 'OpenSans';
    	src: url('../asset/font/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    	font-family: 'AlexBrush';
    	src: url('../asset/font/alex-brush/AlexBrush-Regular.ttf');
}

@font-face {
    	font-family: 'Archistico';
    	src: url('../asset/font/archistico/Archistico_Bold.ttf');
}

@font-face {
    	font-family: 'Foglihten';
    	src: url('../asset/font/foglihten/FoglihtenNo03.otf');
}
